# Unused source images kept locally
assets/img/d1-trasera.png
assets/img/d1-ultra2.png
assets/img/gama-editada.png
assets/img/gama.jpg
assets/img/gama.png
assets/img/hero-bg.png
assets/img/logo-white.png
assets/img/logotipo-1.jpg
assets/img/logotipo-2.jpg
assets/img/logotipo-3.jpg
assets/img/x2-andando.png
assets/img/x2-arrodillado.png
assets/img/x2-corriendo.png
assets/img/x2-perfil.png
assets/img/x2-sentado.png
